@{
    ViewData["Title"] = "Home Page";
}

<h2>Счета</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
        <th>
            Валюта
		</th>
        <th>
            Всего
        </th>
        <th>
			Ввод / вывод
		</th>
        <th>
            Доступно
        </th>
		<th>
            В ордерах
        </th>
		<th>
            На пополнении
        </th>
		<th>
            В списании
        </th>
		<th>
            График
        </th>
	</thead>
    @foreach(var item in Model.CurrencyBills)
    {
        <tr>
            <td>@item.Currency</td>
            <td>@item.Amount</td>
			<td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></td>
			<td>@item.Available</td>
			<td>@item.OrdersAmount</td>
			<td>@item.AppendingAmount</td>
            <td>@item.DecommissioningAmount</td>
			<td><img src="https://files.coinmarketcap.com/generated/sparklines/1.png"></td>
		</tr>   
    }
  </table>
</div>   

<h2>Транзакции</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
        <th>
            Дата
        </th>
        <th>
            Валюта
        </th>
        <th>
            Количество
        </th>
        <th>
            Статус
        </th>
    </thead>
    @foreach(var item in Model.Transactions)
    {
        <tr>
            <td>@item.DateTime</td>
            <td>@item.CurrencyName</td>
            <td>@item.Amount</td>
            <td>@item.TransactionStatus</td>
        </tr>   
    }
  </table>
</div>   